@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Copse&display=swap');
html, body{
    height:100%;
}

body{
    background-color: #ffffff;
    font-size:10px;
    font-family: 'Copse', serif;
}
@media (min-width: 576px)
{
body{
    font-size:14px;
}
.logo{
    max-height:120px !important;
    padding:10px 0;
}
}

.main{
    min-height: 100vh;
    background-color: #fff;
    /*position:relative;*/
}

.header{
    background-color: #1f64b1;
    /*box-shadow: 0 1px 1px #ccc;*/
}


.logo{
    width:auto;
    max-height:80px;
    padding:5px 0;
}

.login{
    border:0px solid #24487D;
}

.login h3{
    background-color: #24487D;
    padding:5px 10px;
    color: #fff;
    display:block;
    font-size:1.5em;
}

#login-form{
    padding:0px 15px;
}

.input-group{
    margin: 5px 0;
}
.form-control{
    border: 1px solid #ced4da;
    border-radius: 0;
    font-size: 1em;
    padding: 10px;
    height: auto;
}
.login-button{
    border: 0;
    background-color:#24487D;
    color: #fff;
    border-radius:0;
    margin-top:20px;
}
#login-message, #ques-message{
    padding:5px 10px;
}

.login-info{
    background-color:#ed3338;
    padding:10px 0;
    color: #fff;
}
a.logout{
    color:#dee2e6;
    margin-right:10px;
}
.btn-submit{
    position:absolute;
    top: 50%;
    transform:translateY(-50%);
    border-radius:0;
    background-color:#24487D;
    border:0;
}

.links{
    color: #fff;
}
.links a{
    color: #fff;
}
#ques_count{
    display:inline-block;
}
#ques_update{
    color:#cc0000;
}
.header .col-12{
    padding:0;
}