@charset "utf-8";
/* CSS Document */
html, body{
    height:100%;
}

body{
    background-color: #ffffff;
    font-size:16px;
    font-family: Verdana, sans-serif;
}
body.admin{
    font-size:14px;
}

.title{
    background-color: #015198;
    color: #fff;
}

.logo2{
    width:auto;
    height:80px;
    padding:0;
}

.login{
    border: 1px solid #24487D;
    margin:30px 0;
    padding: 30px 50px;
    border-radius: 8px;
    background-color: #f8f9fa;
}

.login h3{
    background-color: #24487D;
    padding:5px 10px;
    color: #fff;
    display:block;
    font-size:1.5em;
}

#login-form{
    padding:0px 15px;
}

.input-group{
    margin: 5px 0;
}
.form-control{
    border: 1px solid #ced4da;
    border-radius: 0;
    font-size: 1em;
    padding: 10px;
    height: auto;
}
.login-button{
    border: 0;
    background-color:#24487D;
    color: #fff;
    border-radius:0;
    margin-top:20px;
}
#login-message, #ques-message{
    padding:5px 10px;
}

.login-info{
    background-color:#24487d;
    padding:10px 0;
    color: #fff;
}
a.logout{
    color:#dee2e6;
    margin-right:10px;
}
.btn-submit{
    position:absolute;
    top: 50%;
    transform:translateY(-50%);
    border-radius:0;
    background-color:#24487D;
    border:0;
}

.links{
    color: #fff;
}
.links a{
    color: #fff;
}
#ques_count{
    display:inline-block;
}
#ques_update{
    color:#cc0000;
}
.header .col-12{
    padding:0;
}
.btnSpk{
    font-size:0.8em;
}
#logged-in{
    display: inline-block;
}